@font-face {
    font-family: 'Yeseva One';
    src: url(./YesevaOne-Regular.ttf);
    /* Puedes añadir más formatos si es necesario */
}

* {
    font-family: 'Yeseva One';
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animated-change {
    animation: fadeIn 2s ease-in-out;
}

body {
    background: transparent;
    /* Hace el fondo del contenido del iframe transparente */
    margin: 0;
    /* Elimina el margen por defecto del body */
}

.container {
    position: relative;
}

.logo {

    display: none;
    position: absolute;
    top: calc(((100% - 30px)/ 2));
    left: calc(((100% - 30px)/ 2));
    z-index: 2;

    img {
        width: 30px;
    }
}

.fondo {
    background-image: url('./fondo.jpg');
    background-size: cover;
    /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    border-radius: 15px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.win {
    color: #fdd877 !important;
}

.balon {
    width: 15px;
}

.marcador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    font-size: large;
}

.titulo {
    position: absolute;
    top: -6px;
    width: 100%;
    text-align: center;
    font-size: 8px !important;
}

.local,
.visita {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 49%;
    box-sizing: border-box;


    border-radius: 10px;
    background-color: rgba(0, 0, 0, .85);
}


.local {
    order: 0;
    justify-content: start;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .saqueLocal {
        order: 0;
        width: 10%;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .equipoLocal {
        order: 1;
        text-align: start;
        width: 60%;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .puntosLocal {
        order: 3;
        text-align: center;
        width: 15%;
        position: relative;
        label{
            font-size: x-large;
        }
    }

    .setsLocal {
        text-align: center;
        order: 2;
        width: 15%;
        position: relative;
        margin-top: 8px;
    }
}

.visita {
    order: 1;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .saqueVisita {
        order: 3;
        width: 10%;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .equipoVisita {
        order: 2;
        width: 60%;
        text-align: end;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .puntosVisita {
        order: 0;
        text-align: center;
        width: 15%;
        position: relative;
        label{
            font-size: x-large;
        }
    }

    .setsVisita {
        order: 1;
        text-align: center;
        width: 15%;
        position: relative;
        margin-top: 8px;
    }
}

.invert .local {
    order: 1;
    justify-content: end;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .saqueLocal {
        order: 3;
    }

    .equipoLocal {
        text-align: end;
        order: 2;
    }

    .puntosLocal {
        order: 0;
    }

    .setsLocal {
        order: 1;
    }
}

.invert .visita {
    order: 0;
    justify-content: start;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .saqueVisita {
        order: 0;
    }

    .equipoVisita {
        order: 1;
        text-align: start;
    }

    .puntosVisita {
        order: 3;
    }

    .setsVisita {
        order: 2;
    }
}

.local p,
.visita p {
    margin: 0;
    font-size: 1.2em;
}

.saqueLocal,
.saqueVisita {
    display: flex;
    justify-content: center;
}

/* Agregar estilos dinámicos en JavaScript */

.modo2 {
    .marcador {
        flex-direction: column;
    }

    .local,
    .visita {
        width: 100%;
    }



    .local {
        order: 0;
        margin-bottom: 5px;

        .saqueLocal {
            order: 0;
        }

        .equipoLocal {
            order: 1;
            text-align: start;
        }

        .puntosLocal {
            order: 3;
        }

        .setsLocal {
            order: 2;
        }
    }

    .visita {
        order: 1;

        .saqueVisita {
            order: 0;
        }

        .equipoVisita {
            order: 1;
            text-align: start;
        }

        .puntosVisita {
            order: 3;
        }

        .setsVisita {
            order: 2;
        }
    }

    .invert .local {
        order: 0;

        .saqueLocal {
            order: 0;
        }

        .equipoLocal {
            order: 1;
            text-align: start;
        }

        .puntosLocal {
            order: 3;
        }

        .setsLocal {
            order: 2;
        }
    }

    .invert .visita {
        order: 1;

        .saqueVisita {
            order: 0;
        }

        .equipoVisita {
            order: 1;
            text-align: start;
        }

        .puntosVisita {
            order: 3;
        }

        .setsVisita {
            order: 2;
        }
    }
}

.modo3 {

    border-radius: 0px !important;

    .container{
        padding: 10px;
    }

    .logo {
        position: absolute;
        top: calc(((100% - 10vw)/ 2));
        left: calc(((100% - 10vw)/ 2));
        z-index: 2;

        img {
            width: 10vw;
        }
    }

    .marcador {
        font-weight: bold;
    }

    .balon {
        width: 4vw;
    }

    .local,
    .visita {
        width: 49%;
        position: relative;
    }



    .local {
        order: 0 !important;

        .saqueLocal {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .equipoLocal {
            position: absolute;
            top: 5px;
            left: 0px;
            text-align: center;
            width: 100%;
            font-size: 4vw;
        }

        .puntosLocal {
            width: 100%;
            font-size: 30vw;

            padding-bottom: 0px;padding-top: 20px;
            label{
                position: relative;
                font-size: 30vw;
                top:unset;
            }

            .titulo {
                display: none;
            }
        }

        .setsLocal {
            position: absolute;
            top: 10px;
            right: 1vw;
            font-size: 4vw;
        }
    }

    .visita {
        order: 1 !important;

        .saqueVisita {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .equipoVisita {
            position: absolute;
            top: 5px;
            left: 0px;
            text-align: center;
            width: 100%;
            font-size: 4vw;
            padding-bottom: 0px;
        }

        .puntosVisita {
            width: 100%;
            font-size: 30vw;
            padding-bottom: 0px;padding-top: 20px;
            label{
                position: relative;
                font-size: 30vw;
                top:unset;
            }

            .titulo {
                display: none;
            }
        }

        .setsVisita {
            position: absolute;
            top: 10px;
            left: 1vw;
            font-size: 4vw;
        }
    }

    .invert,
    .local {
        order: 1 !important;

        .saqueLocal {
            right: 10px !important;
            left: unset;
        }

        .equipoLocal {}

        .puntosLocal {}

        .setsLocal {
            left: 1vw;
        }
    }

    .invert,
    .visita {
        order: 0 !important;

        .saqueVisita {
            left: 10px;
        }

        .equipoVisita {}

        .puntosVisita {}

        .setsVisita {
            right: 1vw;
            left: unset;
        }
    }
}